@charset "UTF-8";

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

:root {
    --h2Size: 5vh;
    --pSize: large;
    --appPadding: 20px;
    --appRouded: 20px;
}

* {
    font-family: 'OpenSansRegular';
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    /* background-color: red; */
}

html {
    flex: 1;
    /* height: 100vh; */

    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    opacity: 0;
    animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

html::-webkit-scrollbar {
    display: none;
}

/* footer {
    padding: 20px;
    border: red solid;
    z-index: 1;
    bottom: 0;
} */

h1 {
    font-size: x-large;
}

h2 {
    font-size: var(--h2Size);
}

p {
    font-size: medium;
    margin-bottom: 20px;
}

main {
    width: 100vw;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

}

section {
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}