@charset "UTF-8";
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'OpenSansItalic';
    src: url('../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

* {
    font-family: 'OpenSansRegular';
    margin: 0;
    border: 0;
    padding: 0;
    /* background-color: red; */
}

html {
    animation: fade 1s ease-in;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
}

html::-webkit-scrollbar {
    display: none;
}

body {
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    /* transition: height 10s ease-in; */
    scroll-snap-type: y mandatory;

    display: flex;
    align-items: center;
    justify-content: center;

}