@charset "UTF-8";
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'OpenSansItalic';
    src: url('../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

* {
    font-family: 'OpenSansRegular';
    margin: 0;
    border: 0;
    padding: 0;
    /* background-color: red; */
}

.HeaderBox {
    /* border: red solid; */
    min-height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.FooterBox {
    flex:1;
    
}

.sectionBox {

}