/* Borders */

/* .border\:art-radius-04 {
    border-radius: 0.9rem;
} */

.border-full\:solid-0\.5\:art-white-01 {
    /* border:solid-0.5:full:art-white-01 */
    border: solid 0.5px var(--white-01);
}

.border-full\:solid-0\.5\:art-white-02 {
    /* border:solid-0.5:full:art-white-02 */
    border: solid 0.5px var(--white-02);
}

.border-full\:solid-0\.5\:art-white-03 {
    /* border:solid-0.5:full:art-white-03 */
    border: solid 0.5px var(--white-03);
}

.border-full\:solid-0\.5\:art-black-01 {
    /* border:solid-0.5:full:art-black-01 */
    border: solid 0.5px var(--black-01);
}

.border-full\:solid-0\.5\:art-black-02 {
    /* border:solid-0.5:full:art-black-02 */
    border: solid 0.5px var(--black-02);
}

.border-full\:solid-0\.5\:art-black-03 {
    /* border:solid-0.5:full:art-black-03 */
    border: solid 0.5px var(--black-03);
}

/* 
border-style:art-solid:full
border-color:art-black-01
border-width:art-0.5
*/