.section {
    height: 98dvh;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.sectionContentRow {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sectionContent {
    width: 100%;
    height: 100%;

    display: flex;
    gap: var(--appPadding);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: var(--appPadding);
}

.projects {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

/*     animation-name: projectsAnimation;
    position: relative;
    animation-duration: 4s; */
}

/* @keyframes projectsAnimation {
    0% {
        top: 200px;
    }

    100% {
        top: 0px;
    }
} */

.h2 {}

@media (max-width: 760px) {
    .section {
        margin: 0;
    }

    .textBox {
        margin-top: 40px;
        display: flex;
        align-items: center;
    }

    .h2 {
        font-size: var(--h2Size);
        margin-top: 35%;
        margin-left: 50%;
    }
}