.desktop {
    width: 100%;
    max-width: 18rem;
}

.mobile {
    display: none;
}

@media (max-width: 800px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;

        width: 100%;
        max-width: 8rem;
    }
}