/* Font colors:*/

.ft\:color\:art-white-01 {
    color: var(--white-01);
}

.ft\:color\:art-white-02 {
    color: var(--white-02);
}

.ft\:color\:art-white-03 {
    color: var(--white-03);
}

.ft\:color\:art-black-01 {
    color: var(--black-01);
}

.ft\:color\:art-black-02 {
    color: var(--black-02);
}

.ft\:color\:art-black-03 {
    color: var(--black-03);
}

.ft\:color\:art-yellow-01 {
    color: var(--yellow-01);
}
