.bg\:art-white-01 {
    background-color: var(--white-01);
}

.bg\:art-white-02 {
    background-color: var(--white-02);
}

.bg\:art-white-03 {
    background-color: var(--white-03);
}

.bg\:art-black-01 {
    background-color: var(--black-01);
}

.bg\:art-black-02 {
    background-color: var(--black-02);
}

.bg\:art-black-03 {
    background-color: var(--black-03);
}

.bg\:art-yellow-01 {
    background-color: var(--yellow-01);
}

.bg\:art-yellow-02 {
    background-color: var(--yellow-02);
}

.bg\:art-yellow-03 {
    background-color: var(--yellow-03);
}

.bg\:art-green-01 {
    background-color: var(--green-01);
}

.bg\:art-green-02 {
    background-color: var(--green-02);
}

.bg\:art-green-03 {
    background-color: var(--green-02);
}

.bg\:art-blue-01 {
    background-color: var(--blue-01);
}

.bg\:art-blue-02 {
    background-color: var(--blue-02);
}

.bg\:art-blue-03 {
    background-color: var(--blue-03);
}

.bg\:art-red-01 {
    background-color: var(--red-01);
}

.bg\:art-red-02 {
    background-color: var(--red-02);
}

.bg\:art-red-03 {
    background-color: var(--red-03);
}

