@charset "UTF-8";
@import url("art-css/art.css");

html {
    width: 100dvw;
    flex: 1;
    /* height: 100vh; */

    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    opacity: 0;
    animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

html::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}


.art\:show-on-light-mode {
    /* art:show-on-light-mode */
    display: flex;
}

.art\:show-on-dark-mode {
    /* art:show-on-dark-mode */
    display: none;
}

@media (prefers-color-scheme: dark) {
    .art\:show-on-light-mode {
        /* art:show-on-light-mode */
        display: none;
    }
    
    .art\:show-on-dark-mode {
        /* art:show-on-dark-mode */
        display: flex;
    }
}
