@charset "UTF-8";
@import url("art-css/art.css");

:root {
    --purple-01: #E9C6FF;
    --purple-02: #D48FFF;
    --purple-03: #BF57FF;
    --purple-rgba: 191, 87, 255;

    --orange-01: #FFDCBE;
    --orange-02: #FFBB7F;
    --orange-03: #FF993F;
    --orange-rgba: 255, 153, 63;
}

html {
    width: 100dvw;
    flex: 1;
    /* height: 100vh; */

    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    opacity: 0;
    animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

html::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul,
ol,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.art\:cursor\:pointer {
    cursor: pointer;
}