@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --art-background: 255, 255, 255;
        --art-on-background: 51, 51, 56;
        --art-surface: 235, 235, 237;
        --art-on-surface: 103, 103, 107;

        --art-border: #dadadc;

        --art-primary: 255, 202, 57;
        --art-on-primary: 255, 255, 255;
        --art-secondary: 78, 117, 234;
        --art-on-secondary: 255, 255, 255;

        /*dark mode*/
        --art-background-dark: 29, 29, 32;
        --art-on-background-dark: 255, 255, 255;
        --art-surface-dark: 46, 46, 50;
        --art-on-surface-dark: 192, 192, 193;

        --art-border-dark: #2d2d30;

        --art-thin: 0.1rem;
        --art-sm: 0.5rem;
        --art-base: 1rem;
        --art-lg: 1.5rem;
        --art-xl: 2rem;
        --art-2xl: 2.5rem;
        --art-3xl: 3rem;
        --art-4xl: 3.5rem;
        --art-5xl: 4rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --art-background: var(--art-background-dark);
        --art-on-background: var(--art-on-background-dark);
        --art-surface: var(--art-surface-dark);
        --art-on-surface: var(--art-on-surface-dark);
        --art-border: var(--art-border-dark: #2d2d30);
    }
}
