.box {
    display: flex;
    gap: 1rem;
    
    justify-content: flex-start;

    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 45%;
    height: 10rem;
    max-width: 100rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    
    justify-content: flex-start;
}

.textArea {
    overflow: hidden;
    align-content: safe;
}

@media (max-width: 800px) {

    .box {
        justify-content: center;
    }

    .card {
        width: 80%;
    }
    
}