.imgStyle {
  max-width: 20vw;
  min-width: 10px;
  height: auto;
  margin: 30px;
  border-radius: 20px;
}

.video {
  max-width: 20vw;
  min-width: 10px;
  height: auto;
  margin: 30px;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .imgStyle {
    display: none;
  }

  .video {
    display: none;
  }
}