.DropdownMenuContent {
    display: flex;
    justify-content: flex-end;
}

.painel {
    list-style: none;
    position: absolute;
    border-radius: 20px;
    margin-top: 80px;
    width: 300px;
    height: 400px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: white;
}

@media (max-width: 600px) {
    .DropdownMenuContent {
        justify-content: first baseline;
    }

    .painel {
        width: 64vw;
    }
}