.dropdownMenuContent {
    display: flex;
    justify-content: flex-end;
}

.painel {
    list-style: none;
    position: absolute;
    border-radius: 20px;
    margin-top: 80px;
    width: 300px;
    height: 400px;
    padding: 20px;

    display: flex;
    gap: var(--appPadding);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: white; */
}

@media (max-width: 600px) {
    .dropdownMenuContent {
        justify-content: first baseline;
    }

    .painel {
        width: 64vw;
    }
}