.box {
    width: 90%;
    max-width: 60rem;
    height: 5rem;
    margin-top: 20px;   
}

.header {
    width: 90%;
    max-width: 60rem;
    height: 4rem;
    max-height: 4rem;
    position: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 20px;
    background-color: red;
}

.content {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 2.5rem;
    height: auto;
}