/* Fonts hover: */

.hover\:ft\:color\:art-white-01:hover {
    /* hover:ft:color:art-white-01 */
    color: var(--white-01);
}

.hover\:ft\:color\:art-white-02:hover {
    /* hover:ft:color:art-white-02 */
    color: var(--white-02);
}

.hover\:ft\:color\:art-white-03:hover {
    /* hover:ft:color:art-white-02 */
    color: var(--white-03);
}

.hover\:ft\:color\:art-black-01:hover {
    color: var(--black-01);
}

.hover\:ft\:color\:art-black-02:hover {
    color: var(--black-02);
}

.hover\:ft\:color\:art-black-03:hover {
    color: var(--black-03);
}

.hover\:ft\:color\:art-yellow-01:hover {
    color: var(--yellow-01);
}

.hover\:ft\:color\:art-yellow-02:hover {
    color: var(--yellow-02);
}

.hover\:ft\:color\:art-yellow-03:hover {
    color: var(--yellow-03);
}

.hover\:ft\:color\:art-green-01:hover {
    color: var(--green-01);
}

.hover\:ft\:color\:art-green-02:hover {
    color: var(--green-02);
}

.hover\:ft\:color\:art-green-03:hover {
    color: var(--green-03);
}

.hover\:ft\:color\:art-blue-01:hover {
    color: var(--blue-01);
}

.hover\:ft\:color\:art-blue-02:hover {
    color: var(--blue-02);
}

.hover\:ft\:color\:art-blue-03:hover {
    color: var(--blue-03);
}

.hover\:ft\:color\:art-red-01:hover {
    color: var(--red-01);
}

.hover\:ft\:color\:art-red-02:hover {
    color: var(--red-02);
}

.hover\:ft\:color\:art-red-03:hover {
    color: var(--red-03);
}

