/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/art-css/art.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

    font-family: 'Open Sans', sans-serif;
}

:root {
    --white-01: #FFFFFF;
    --white-02: #F6F5F4;
    --white-03: #EBEBEB;
    --white-rgba: 255, 255, 255;

    --fix-white-01: #FFFFFF;
    --fix-white-02: #F6F5F4;
    --fix-white-03: #EBEBEB;

    --black-01: #000000;
    --black-02: #131416;
    --black-03: #4A4B4D;
    --black-rgba: 0, 0, 0;

    --fix-black-01: #000000;
    --fix-black-02: #131416;
    --fix-black-03: #4A4B4D;

    --blue-01: #62A0EA;
    --blue-02: #376FE6;
    --blue-03: #1C71D8;
    --blue-rgba: 28, 113, 216;

    --green-01: #8FF0A4;
    --green-02: #33D17A;
    --green-03: #26A269;
    --green-rgba: 38, 162, 105;

    --yellow-01: #FFDE83;
    --yellow-02: #FFBD08;
    --yellow-03: #C08E06;
    --yellow-rgba: 255, 222, 131;

    --orange-01: #FFDCBE;
    --orange-02: #FFBB7F;
    --orange-03: #FF993F;
    --orange-rgba: 255, 153, 63;

    --red-01: #ED333B;
    --red-02: #F60000;
    --red-03: #DB1111;
    --red-rgba: 219, 17, 17;

    --purple-01: #E9C6FF;
    --purple-02: #D48FFF;
    --purple-03: #BF57FF;
    --purple-rgba: 191, 87, 255;

}

@media (prefers-color-scheme: dark) {
    :root {
        --white-01: #000000;
        --white-02: #131416;
        --white-03: #4A4B4D;

        --black-01: #FFFFFF;
        --black-02: #F6F5F4;
        --black-03: #EBEBEB;
    }
}
/* ------------------------------------- background colors: ------------------------------------- */

.art\:bg\:blur-01 {
    /* art:bg:blur-01 */
    background: hsla(0, 0%, 94%, .16);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
}

.art\:shadow\:center {
    /* .art:shadow:center */
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
}

.art\:bg\:transparent {
    /* art:bg:transparent */
    background: transparent;
}

.art\:bg\:white-01 {
    /* art:bg:white-01 */
    background: var(--white-01);
}

.art\:bg\:white-02 {
    /* art:bg:white-02 */
    background: var(--white-02);
}

.art\:bg\:white-03 {
    /* art:bg:white-03 */
    background: var(--white-03);
}

.art\:bg\:white\:10\% {
    /* art:bg:white:10% */
    background: rgba(var(--white-rgba), 0.1);
}

.art\:bg\:white\:20\% {
    /* art:bg:white:20% */
    background: rgba(var(--white-rgba), 0.2);
}

.art\:bg\:white\:30\% {
    /* art:bg:white:30% */
    background: rgba(var(--white-rgba), 0.3);
}

.art\:bg\:white\:40\% {
    /* art:bg:white:40% */
    background: rgba(var(--white-rgba), 0.4);
}

.art\:bg\:white\:50\% {
    /* art:bg:white:50% */
    background: rgba(var(--white-rgba), 0.5);
}

.art\:bg\:black-01 {
    /* art:bg:black-01 */
    background: var(--black-01);
}

.art\:bg\:black-02 {
    /* art:bg:black-02 */
    background: var(--black-02);
}

.art\:bg\:black-03 {
    /* art:bg:black-03 */
    background: var(--black-03);
}

.art\:bg\:black\:10\% {
    /* art:bg:black:10% */
    background: rgba(var(--black-rgba), 0.1);
}

.art\:bg\:black\:20\% {
    /* art:bg:black:20% */
    background: rgba(var(--black-rgba), 0.2);
}

.art\:bg\:black\:30\% {
    /* art:bg:black:30% */
    background: rgba(var(--black-rgba), 0.3);
}

.art\:bg\:black\:40\% {
    /* art:bg:black:40% */
    background: rgba(var(--black-rgba), 0.4);
}

.art\:bg\:black\:50\% {
    /* art:bg:black:50% */
    background: rgba(var(--black-rgba), 0.5);
}

.art\:bg\:blue-01 {
    /* art:bg:blue-01 */
    background: var(--blue-01);
}

.art\:bg\:blue-02 {
    /* art:bg:blue-02 */
    background: var(--blue-02);
}

.art\:bg\:blue-03 {
    /* art:bg:blue-03 */
    background: var(--blue-03);
}

.art\:bg\:blue\:10\% {
    /* art:bg:blue:10% */
    background: rgba(var(--blue-rgba), 0.1);
}

.art\:bg\:blue\:20\% {
    /* art:bg:blue:20% */
    background: rgba(var(--blue-rgba), 0.2);
}

.art\:bg\:blue\:30\% {
    /* art:bg:blue:30% */
    background: rgba(var(--blue-rgba), 0.3);
}

.art\:bg\:blue\:40\% {
    /* art:bg:blue:40% */
    background: rgba(var(--blue-rgba), 0.4);
}

.art\:bg\:blue\:50\% {
    /* art:bg:blue:50% */
    background: rgba(var(--blue-rgba), 0.5);
}


.art\:bg\:green-01 {
    /* art:bg:green-01 */
    background: var(--green-01);
}

.art\:bg\:green-02 {
    /* art:bg:green-02 */
    background: var(--green-02);
}

.art\:bg\:green-03 {
    /* art:bg:green-03 */
    background: var(--green-02);
}

.art\:bg\:green\:10\% {
    /* art:bg:green:10% */
    background: rgba(var(--green-rgba), 0.1);
}

.art\:bg\:green\:20\% {
    /* art:bg:green:20% */
    background: rgba(var(--green-rgba), 0.2);
}

.art\:bg\:green\:30\% {
    /* art:bg:green:30% */
    background: rgba(var(--green-rgba), 0.3);
}

.art\:bg\:green\:40\% {
    /* art:bg:green:40% */
    background: rgba(var(--green-rgba), 0.4);
}

.art\:bg\:green\:50\% {
    /* art:bg:green:50% */
    background: rgba(var(--green-rgba), 0.5);
}

.art\:bg\:yellow-01 {
    /* art:bg:yellow-01 */
    background: var(--yellow-01);
}

.art\:bg\:yellow-02 {
    /* art:bg:yellow-02 */
    background: var(--yellow-02);
}

.art\:bg\:yellow-03 {
    /* art:bg:yellow-03 */
    background: var(--yellow-03);
}

.art\:bg\:yellow\:10\% {
    /* art:bg:yellow:10% */
    background: rgba(var(--yellow-rgba), 0.1);
}

.art\:bg\:yellow\:20\% {
    /* art:bg:yellow:20% */
    background: rgba(var(--yellow-rgba), 0.2);
}

.art\:bg\:yellow\:30\% {
    /* art:bg:yellow:30% */
    background: rgba(var(--yellow-rgba), 0.3);
}

.art\:bg\:yellow\:40\% {
    /* art:bg:yellow:40% */
    background: rgba(var(--yellow-rgba), 0.4);
}

.art\:bg\:yellow\:50\% {
    /* art:bg:yellow:50% */
    background: rgba(var(--yellow-rgba), 0.5);
}

.art\:bg\:orange-01 {
    /* art:bg:orange-01 */
    background: var(--orange-01);
}

.art\:bg\:orange-02 {
    /* art:bg:orange-02 */
    background: var(--orange-02);
}

.art\:bg\:orange-03 {
    /* art:bg:orange-03 */
    background: var(--orange-03);
}

.art\:bg\:orange\:10\% {
    /* art:bg:orange:10% */
    background: rgba(var(--orange-rgba), 0.1);
}

.art\:bg\:orange\:20\% {
    /* art:bg:orange:20% */
    background: rgba(var(--orange-rgba), 0.2);
}

.art\:bg\:orange\:30\% {
    /* art:bg:orange:30% */
    background: rgba(var(--orange-rgba), 0.3);
}

.art\:bg\:orange\:40\% {
    /* art:bg:orange:40% */
    background: rgba(var(--orange-rgba), 0.4);
}

.art\:bg\:orange\:50\% {
    /* art:bg:orange:50% */
    background: rgba(var(--orange-rgba), 0.5);
}

.art\:bg\:red-01 {
    /* art:bg:red-01 */
    background: var(--red-01);
}

.art\:bg\:red-02 {
    /* art:bg:red-02 */
    background: var(--red-02);
}

.art\:bg\:red-03 {
    /* art:bg:red-03 */
    background: var(--red-03);
}

.art\:bg\:red\:10\% {
    /* art:bg:red:10% */
    background: rgba(var(--red-rgba), 0.1);
}

.art\:bg\:red\:20\% {
    /* art:bg:red:20% */
    background: rgba(var(--red-rgba), 0.2);
}

.art\:bg\:red\:30\% {
    /* art:bg:red:30% */
    background: rgba(var(--red-rgba), 0.3);
}

.art\:bg\:red\:40\% {
    /* art:bg:red:40% */
    background: rgba(var(--red-rgba), 0.4);
}

.art\:bg\:red\:50\% {
    /* art:bg:red:50% */
    background: rgba(var(--red-rgba), 0.5);
}

.art\:bg\:purple-01 {
    /* art:bg:purple-01 */
    background: var(--purple-01);
}

.art\:bg\:purple-02 {
    /* art:bg:purple-02 */
    background: var(--purple-02);
}

.art\:bg\:purple-03 {
    /* art:bg:purple-03 */
    background: var(--purple-03);
}

.art\:bg\:purple\:10\% {
    /* art:bg:purple:10% */
    background: rgba(var(--purple-rgba), 0.1);
}

.art\:bg\:purple\:20\% {
    /* art:bg:purple:20% */
    background: rgba(var(--purple-rgba), 0.2);
}

.art\:bg\:purple\:30\% {
    /* art:bg:purple:30% */
    background: rgba(var(--purple-rgba), 0.3);
}

.art\:bg\:purple\:40\% {
    /* art:bg:purple:40% */
    background: rgba(var(--purple-rgba), 0.4);
}

.art\:bg\:purple\:50\% {
    /* art:bg:purple:50% */
    background: rgba(var(--purple-rgba), 0.5);
}
/* ------------------------------------- background color hovers: ------------------------------------- */

.art\:hover\:bg\:white-01:hover {
    /* art:hover:bg:white-01 */
    background: var(--white-01);
}

.art\:hover\:bg\:white-02:hover {
    /* art:hover:bg:white-02 */
    background: var(--white-02);
}

.art\:hover\:bg\:white-03:hover {
    /* art:hover:bg:white-03 */
    background: var(--white-03);
}

.art\:hover\:bg\:black-01:hover {
    /* art:hover:bg:black-01 */
    background: var(--black-01);
}

.art\:hover\:bg\:black-02:hover {
    /* art:hover:bg:black-02 */
    background: var(--black-02);
}

.art\:hover\:bg\:black-03:hover {
    /* art:hover:bg:black-03 */
    background: var(--black-03);
}

.art\:hover\:bg\:yellow-01:hover {
    /* art:hover:bg:yellow-01 */
    background: var(--yellow-01);
}

.art\:hover\:bg\:yellow-02:hover {
    /* art:hover:bg:yellow-02 */
    background: var(--yellow-02);
}

.art\:hover\:bg\:yellow-03:hover {
    /* art:hover:bg:yellow-03 */
    background: var(--yellow-03);
}

.art\:hover\:bg\:yellow\:40\%:hover {
    /* art:hover:bg:yellow:40% */
    background: rgba(var(--yellow-rgba), 0.4);
}

.art\:hover\:bg\:green-01:hover {
    /* art:hover:bg:green-01 */
    background: var(--green-01);
}

.art\:hover\:bg\:green-02:hover {
    /* art:hover:bg:green-02 */
    background: var(--green-02);
}

.art\:hover\:bg\:green-03:hover {
    /* art:hover:bg:green-03 */
    background: var(--green-02);
}

.art\:hover\:bg\:blue-01:hover {
    /* art:hover:bg:blue-01 */
    background: var(--blue-01);
}

.art\:hover\:bg\:blue-02:hover {
    /* art:hover:bg:blue-02 */
    background: var(--blue-02);
}

.art\:hover\:bg\:blue-03:hover {
    /* art:hover:bg:blue-03 */
    background: var(--blue-03);
}

.art\:hover\:bg\:red-01:hover {
    /* art:hover:bg:red-01 */
    background: var(--red-01);
}

.art\:hover\:bg\:red-02:hover {
    /* art:hover:bg:red-02 */
    background: var(--red-02);
}

.art\:hover\:bg\:red-03:hover {
    /* art:hover:bg:red-03 */
    background: var(--red-03);
}

.art\:hover\:bg\:blur-01 {
    /* art:hover:bg:blur-01 */
    background: hsla(0, 0%, 94%, .16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
}/* ------------------------------------- font colors: ------------------------------------- */

.art\:ft\:white-01 {
    /* art:ft:white-01 */
    color: var(--white-01);
}

.art\:ft\:white-02 {
    /* art:ft:white-02 */
    color: var(--white-02);
}

.art\:ft\:white-03 {
    /* art:ft:white-03 */
    color: var(--white-03);
}

.art\:ft\:black-01 {
    /* art:ft:black-01 */
    color: var(--black-01);
}

.art\:ft\:black-02 {
    /* art:ft:black-02 */
    color: var(--black-02);
}

.art\:ft\:black-03 {
    /* art:ft:black-03 */
    color: var(--black-03);
}

.art\:ft\:blue-01 {
    /* art:ft:blue-01 */
    color: var(--blue-01);
}

.art\:ft\:blue-02 {
    /* art:ft:blue-02 */
    color: var(--blue-02);
}

.art\:ft\:blue-03 {
    /* art:ft:blue-03 */
    color: var(--blue-03);
}

.art\:ft\:green-01 {
    /* art:ft:green-01 */
    color: var(--green-01);
}

.art\:ft\:green-02 {
    /* art:ft:green-02 */
    color: var(--green-02);
}

.art\:ft\:green-03 {
    /* art:ft:green-03 */
    color: var(--green-03);
}

.art\:ft\:yellow-01 {
    /* art:ft:yellow-01 */
    color: var(--yellow-01);
}

.art\:ft\:yellow-02 {
    /* art:ft:yellow-02 */
    color: var(--yellow-02);
}

.art\:ft\:yellow-03 {
    /* art:ft:yellow-03 */
    color: var(--yellow-03);
}

.art\:ft\:orange-01 {
    /* art:ft:orange-01 */
    color: var(--orange-01);
}

.art\:ft\:orange-02 {
    /* art:ft:orange-02 */
    color: var(--orange-02);
}

.art\:ft\:orange-03 {
    /* art:ft:orange-03 */
    color: var(--orange-03);
}

.art\:ft\:red-01 {
    /* art:ft:red-01 */
    color: var(--red-01);
}

.art\:ft\:red-02 {
    /* art:ft:red-02 */
    color: var(--red-02);
}

.art\:ft\:red-03 {
    /* art:ft:red-01 */
    color: var(--red-03);
}

.art\:ft\:purple-01 {
    /* art:ft:purple-01 */
    color: var(--purple-01);
}

.art\:ft\:purple-02 {
    /* art:ft:purple-02 */
    color: var(--purple-02);
}

.art\:ft\:purple-03 {
    /* art:ft:purple-03 */
    color: var(--purple-03);
}/* ------------------------------------- fonts color hovers: ------------------------------------- */

.art\:hover\:ft\:white-01:hover {
    /* .art:hover:ft:white-01 */
    color: var(--white-01);
}

.art\:hover\:ft\:white-02:hover {
    /* .art:hover:ft:white-02 */
    color: var(--white-02);
}

.art\:hover\:ft\:white-03:hover {
    /* .art:hover:ft:white-02 */
    color: var(--white-03);
}

.art\:hover\:ft\:black-01:hover {
    /* .art:hover:ft:black-01 */
    color: var(--black-01);
}

.art\:hover\:ft\:black-02:hover {
    /* .art:hover:ft:black-02 */
    color: var(--black-02);
}

.art\:hover\:ft\:black-03:hover {
    /* .art:hover:ft:black-03 */
    color: var(--black-03);
}

.art\:hover\:ft\:yellow-01:hover {
    /* .art:hover:ft:yellow-01 */
    color: var(--yellow-01);
}

.art\:hover\:ft\:yellow-02:hover {
    /* .art:hover:ft:yellow-02 */
    color: var(--yellow-02);
}

.art\:hover\:ft\:yellow-03:hover {
    /* .art:hover:ft:yellow-03 */
    color: var(--yellow-03);
}

.art\:hover\:ft\:green-01:hover {
    /* .art:hover:ft:green-01 */
    color: var(--green-01);
}

.art\:hover\:ft\:green-02:hover {
    /* .art:hover:ft:green-02 */
    color: var(--green-02);
}

.art\:hover\:ft\:green-03:hover {
    /* .art:hover:ft:green-03 */
    color: var(--green-03);
}

.art\:hover\:ft\:blue-01:hover {
    /* .art:hover:ft:blue-01 */
    color: var(--blue-01);
}

.art\:hover\:ft\:blue-02:hover {
    /* .art:hover:ft:blue-02 */
    color: var(--blue-02);
}

.art\:hover\:ft\:blue-03:hover {
    /* .art:hover:ft:blue-03 */
    color: var(--blue-03);
}

.art\:hover\:ft\:red-01:hover {
    /* .art:hover:ft:red-01 */
    color: var(--red-01);
}

.art\:hover\:ft\:red-02:hover {
    /* .art:hover:ft:red-02 */
    color: var(--red-02);
}

.art\:hover\:ft\:red-03:hover {
    /* .art:hover:ft:red-03 */
    color: var(--red-03);
}
/* ------------------------------------- font size: ------------------------------------- */

.art\:ft\:normal-01 {
    /* .art:ft:normal-01 */
    font-size: 1rem;
}

.art\:ft\:normal-02 {
    /* .art:ft:normal-02 */
    font-size: 1.2rem;
}

.art\:ft\:title {
    /* art:ft:title */
    font-size: 2.7rem;
}

.art\:ft\:subtitle-01 {
    /* art:ft:subtitle-02 */
    font-size: 2rem;
}

.art\:ft\:subtitle-02 {
    /* art:ft:subtitle-02 */
    font-size: 1.5rem;
}
/* ------------------------------------- font weight: ------------------------------------- */

.art\:ft\:bold-01 {
    /* art:ft:bold-01 */
    font-weight: 500;
}

.art\:ft\:bold-02 {
    /* art:ft:bold-02 */
    font-weight: 600;
}

.art\:ft\:bold-03 {
    /* art:ft:bold-03 */
    font-weight: 700;
}
/* ------------------------------------- border sizes: ------------------------------------- */

.art\:border\:s-01 {
    /* art:border:s-01 */
    border-width: 0.5px;
}

.art\:border\:s-02 {
    /* art:border:s-02 */
    border-width: 1px;
}

.art\:border\:s-03 {
    /* art:border:s-03 */
    border-width: 1.5px;
}


.art\:border-b\:s-01 {
    /* art:border-b:s-01 */
    border-width: 0px 0px 0.5px 0px;
}

.art\:border-b\:s-02 {
    /* art:border-b:s-02 */
    border-width: 0px 0px 1px 0px;
}

.art\:border-b\:s-03 {
    /* art:border-b:s-03 */
    border-width: 0px 0px 2px 0px;
}
/* ------------------------------------- border colors: ------------------------------------- */

.art\:border\:white-01 {
    /* art:border:white-01  */
    border-color: var(--white-01);
}

.art\:border\:white-02 {
    /* art:border:white-02  */
    border-color: var(--white-02);
}

.art\:border\:white-03 {
    /* art:border:white-03  */
    border-color: var(--white-03);
}

.art\:border\:black-01 {
    /* art:border:black-01  */
    border-color: var(--black-01);
}

.art\:border\:black-02 {
    /* art:border:black-02  */
    border-color: var(--black-02);
}

.art\:border\:black-03 {
    /* art:border:black-03  */
    border-color: var(--black-03);
}

.art\:border\:blue-01 {
    /* art:border:blue-01  */
    border-color: var(--blue-01);
}

.art\:border\:blue-02 {
    /* art:border:blue-02  */
    border-color: var(--blue-02);
}

.art\:border\:blue-03 {
    /* art:border:blue-03  */
    border-color: var(--blue-03);
}

.art\:border\:green-01 {
    /* art:border:green-01  */
    border-color: var(--green-01);
}

.art\:border\:green-02 {
    /* art:border:green-02  */
    border-color: var(--green-02);
}

.art\:border\:green-03 {
    /* art:border:green-03  */
    border-color: var(--green-03);
}

.art\:border\:yellow-01 {
    /* art:border:yellow-01  */
    border-color: var(--yellow-01);
}

.art\:border\:yellow-02 {
    /* art:border:yellow-02  */
    border-color: var(--yellow-02);
}

.art\:border\:yellow-03 {
    /* art:border:yellow-03  */
    border-color: var(--yellow-03);
}

.art\:border\:red-01 {
    /* art:border:red-01  */
    border-color: var(--red-01);
}

.art\:border\:red-02 {
    /* art:border:red-02  */
    border-color: var(--red-02);
}

.art\:border\:red-03 {
    /* art:border:red-03  */
    border-color: var(--red-03);
}
/* ------------------------------------- border hovers: ------------------------------------- */

.art\:hover\:border\:remove:hover {
    /* art:hover:border:remove */
    /* border-width: 0px 0px 0px 0px; */
    border-color: transparent;
}
/* ------------------------------------- border radius: ------------------------------------- */

.art\:border\:r-01 {
    /* art:border:r-01  */
    border-radius: 0.5rem;
}

.art\:border\:r-02 {
    /* art:border:r-02  */
    border-radius: 1rem;
}

.art\:border\:r-03 {
    /* art:border:r-02  */
    border-radius: 1.5rem;
}

.art\:border\:r-04 {
    /* art:border:r-04  */
    border-radius: 2rem;
}
/* ------------------------------------- border styles: ------------------------------------- */

.art\:border\:solid {
    /* art:border:solid */
    border-style: solid;
}

.art\:border\:dashed {
    /* art:border:dashed */
    border-style: dashed;
}
/* ------------------------------------- buttons: ------------------------------------- */
.art\:btn\:no-style {
    /* art:btn:no-style */
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.art-btn\:small {
    /*  */
    cursor: pointer;
}

.art\:btn\:medium {
    /* art:btn:medium */

    width: 10rem;
    height: 3.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.5rem;

    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
/* ------------------------------------- lines components: ------------------------------------- */
.art\:line\:white-02 {
    width: 100%;
    height: 0.1rem;
    border-radius: 2rem;
    background: var(--white-02);
}

.art\:line\:white-03 {
    width: 100%;
    height: 0.1rem;
    border-radius: 2rem;
    background: var(--white-03);
}

.art\:no-dark\:bg\:white-01 {
    /* art:no-dark:bg:white-01 */
    background: var(--fix-white-01);
}

.art\:no-dark\:bg\:white-02 {
    /* art:no-dark:bg:white-02 */
    background: var(--fix-white-02);
}

.art\:no-dark\:bg\:white-03 {
    /* art:no-dark:bg:white-03 */
    background: var(--fix-white-03);
}

.art\:no-dark\:bg\:black-01 {
    /* art:no-dark:bg:black-01 */
    background: var(--fix-black-01);
}

.art\:no-dark\:bg\:black-02 {
    /* art:no-dark:bg:black-02 */
    background: var(--fix-black-02);
}

.art\:no-dark\:bg\:black-03 {
    /* art:no-dark:bg:black-03 */
    background: var(--fix-black-03);
}
.art\:no-dark\:ft\:white-01 {
    /* art:no-dark:ft:white-01 */
    color: var(--fix-white-01);
}

.art\:no-dark\:ft\:white-02 {
    /* art:no-dark:ft:white-02 */
    color: var(--fix-white-02);
}

.art\:no-dark\:ft\:white-03 {
    /* art:no-dark:ft:white-03 */
    color: var(--fix-white-03);
}

.art\:no-dark\:ft\:black-01 {
    /* art:no-dark:ft:black-01 */
    color: var(--fix-black-01);
}

.art\:no-dark\:ft\:black-02 {
    /* art:no-dark:ft:black-02 */
    color: var(--fix-black-02);
}

.art\:no-dark\:ft\:black-03 {
    /* art:no-dark:ft:black-03 */
    color: var(--fix-black-03);
}
/* ------------------------------------- padding: ------------------------------------- */
.art\:p-01 {
    /* art:p-01 */
    padding: 0.5rem;
}

.art\:p-02 {
    /* art:p-02 */
    padding: 1rem;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Header/header.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.header_box__7ZXBX {
    width: 90%;
    max-width: 60rem;
    /*     
    height: 60%;
    min-height: 5rem; 
    */
    height: 7rem;
    margin-top: 20px;
}

.header_header__iAHWV {
    width: 90%;
    max-width: 60rem;
    height: 4rem;
    max-height: 4rem;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_content__a_3sy {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header_logo__q5OoG {
    width: 2.5rem;
    height: auto;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ModalMenu/modalMenu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.modalMenu_icon__mVCwt {
    width: 2rem;
    height: auto;
}

.modalMenu_box__VHT8q {
    background-color: transparent;

    position: absolute;
    margin-top: 11rem;
    width: 95%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
}

.modalMenu_painel__BiAb4 {
    width: 20%;
    max-width: 40rem;
    height: -moz-fit-content;
    height: fit-content;
    /* height: 14rem; */
    padding: 2rem;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    align-items: center;   
}

@media (max-width: 800px) {
    .modalMenu_painel__BiAb4 {
        width: 100%;
    }
}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/globals.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";

:root {
    --purple-01: #E9C6FF;
    --purple-02: #D48FFF;
    --purple-03: #BF57FF;
    --purple-rgba: 191, 87, 255;

    --orange-01: #FFDCBE;
    --orange-02: #FFBB7F;
    --orange-03: #FF993F;
    --orange-rgba: 255, 153, 63;
}

html {
    width: 100dvw;
    flex: 1 1;
    /* height: 100vh; */

    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    opacity: 0;
    animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

html::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul,
ol,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


.art\:show-on-light-mode {
    /* art:show-on-light-mode */
    display: flex;
}

.art\:show-on-dark-mode {
    /* art:show-on-dark-mode */
    display: none;
}

@media (prefers-color-scheme: dark) {
    .art\:show-on-light-mode {
        /* art:show-on-light-mode */
        display: none;
    }

    .art\:show-on-dark-mode {
        /* art:show-on-dark-mode */
        display: flex;
    }
}

.art\:w\:fit-content {
    /* art:w:fit-content */
    width: -moz-fit-content;
    width: fit-content;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Footer/footer.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__ysJQv {
    width: 100%;
    height: 6dvh;
    margin-top: 3rem;

    display: flex;
    justify-content: center;
    
}

.footer_content__PiOOR {
    width: 96%;
    height: 95%;
    
    display: flex;
    align-items: center;
}
