/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/art-css/src/modules/background/bg-color.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.art-bg\:white-01 {
    background-color: var(--white-01);
}

.art-bg\art-bg\:white-02 {
    background-color: var(--white-02);
}

.art-bg\:white-03 {
    background-color: var(--white-03);
}

.art-bg\:black-01 {
    background-color: var(--black-01);
}

.art-bg\:black-02 {
    background-color: var(--black-02);
}

.art-bg\:black-03 {
    background-color: var(--black-03);
}

.art-bg\:yellow-01 {
    background-color: var(--yellow-01);
}

.art-bg\:yellow-02 {
    background-color: var(--yellow-02);
}

.art-bg\:yellow-03 {
    background-color: var(--yellow-03);
}

.art-bg\:green-01 {
    background-color: var(--green-01);
}

.art-bg\:green-02 {
    background-color: var(--green-02);
}

.art-bg\:green-03 {
    background-color: var(--green-02);
}

.art-bg\:blue-01 {
    background-color: var(--blue-01);
}

.art-bg\:blue-02 {
    background-color: var(--blue-02);
}

.art-bg\:blue-03 {
    background-color: var(--blue-03);
}

.art-bg\:red-01 {
    background-color: var(--red-01);
}

.art-bg\:red-02 {
    background-color: var(--red-02);
}

.art-bg\:red-03 {
    background-color: var(--red-03);
}


/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/art-css/src/modules/font/ft-color.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
/* Font colors:*/

.art-ft-color\:white-01 {
    color: var(--white-01);
}

.art-ft-color\:white-02 {
    color: var(--white-02);
}

.art-ft-color\:white-03 {
    color: var(--white-03);
}

.art-ft-color\:black-01 {
    color: var(--black-01);
}

.art-ft-color\:black-02 {
    color: var(--black-02);
}

.art-ft-color\:black-03 {
    color: var(--black-03);
}

.art-ft-color\:yellow-01 {
    color: var(--yellow-01);
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/art-css/src/modules/font/font-size.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.art-font-size\:title {
    /* .art-font-size:title */
    font-size: 2.5rem;
}

.art-font-size\:subtitle {
    /* .art-font-size:subtitle */
    font-size: 1.5rem;
}

.art-font-size\:normal {
    /* .art-font-size:subtitle */
    font-size: 1.2rem;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/art-css/src/modules/hovers/bg-hover.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
/* bg hovers:*/

.hover\:art-bg\:black-01:hover {
    background-color: var(--black-01);
}

.hover\:art-bg\:black-02:hover {
    background-color: var(--black-02);
}

.hover\:art-bg\:black-03:hover {
    background-color: var(--black-03);
}

.hover\:art-bg\:white-01:hover {
    background-color: var(--white-01);
}

.hover\:art-bg\:white-02:hover {
    background-color: var(--white-02);
}

.hover\:art-bg\:white-03:hover {
    background-color: var(--white-03);
}

.hover\:art-bg\:yellow-01:hover {
    background-color: var(--yellow-01);
}

.hover\:art-bg\:yellow-02:hover {
    background-color: var(--yellow-02);
}

.hover\:art-bg\:yellow-03:hover {
    background-color: var(--yellow-03);
}

.hover\:art-bg\:green-01:hover {
    background-color: var(--green-01);
}

.hover\:art-bg\:green-02:hover {
    background-color: var(--green-02);
}

.hover\:art-bg\:green-03:hover {
    background-color: var(--green-03);
}

.hover\:art-bg\:blue-01:hover {
    background-color: var(--blue-01);
}

.hover\:art-bg\:blue-03:hover {
    background-color: var(--blue-03);
}

.hover\:art-bg\:blue-03:hover {
    background-color: var(--blue-03);
}

.hover\:art-bg\:red-01:hover {
    background-color: var(--red-01);
}

.hover\:art-bg\:red-02:hover {
    background-color: var(--red-02);
}

.hover\:art-bg\:red-03:hover {
    background-color: var(--red-03);
}

.hover\:art-bg\:white\:10\%:hover {
    /* hover:art-white:10% */
    background-color: rgba(var(--white-rgba) 0.1);
}

.hover\:art-bg\:white\:20\%:hover {
    /* hover:art-white:10% */
    background-color: rgba(var(--white-rgba) 0.2);
}

.hover\:art-bg\:white\:30\%:hover {
    /* hover:art-white:30% */
    background-color: rgba(var(--white-rgba) 0.3);
}

.hover\:art-bg\:white\:40\%:hover {
    /* hover:art-white:40% */
    background-color: rgba(var(--white-rgba) 0.4);
}

.hover\:art-bg\:white\:50\%:hover {
    /* hover:art-white:50% */
    background-color: rgba(var(--white-rgba) 0.5);
}

.hover\:art-bg\:white\:10\% {
    /* hover:art-white:10% */
    background-color: rgba(var(--white-rgba) 0.1);
}

.hover\:art-bg\:white\:20\% {
    /* hover:art-white:20% */
    background-color: rgba(var(--white-rgba), 0.2);
}

.hover\:art-bg\:white\:30\% {
    /* hover:art-white:30% */
    background-color: rgba(var(--white-rgba), 0.3);
}

.hover\:art-bg\:white\:40\% {
    /* hover:art-white:40% */
    background-color: rgba(var(--white-rgba), 0.4);
}

.hover\:art-bg\:white\:50\% {
    /* hover:art-white:50% */
    background-color: rgba(var(--white-rgba), 0.5);
}

.hover\:art-bg\:black\:10\% {
    /* hover:art-white:10% */
    background-color: rgba(var(--black-rgba) 0.1);
}

.hover\:art-bg\:black\:20\% {
    /* hover:art-white:10% */
    background-color: rgba(var(--black-rgba) 0.2);
}

.hover\:art-bg\:black\:30\% {
    /* hover:art-white:10% */
    background-color: rgba(var(--black-rgba) 0.3);
}

.hover\:art-bg\:black\:40\% {
    /* hover:art-white:10% */
    background-color: rgba(var(--black-rgba) 0.4);
}

.hover\:art-bg\:black\:50\% {
    /* hover:art-white:10% */
    background-color: rgba(var(--black-rgba) 0.5);
}

.hover\:art-bg\:yellow\:10\% {
    background-color: rgba(var(--yellow-rgba), 0.1);
}

.hover\:art-bg\:yellow\:20\% {
    background-color: rgba(var(--yellow-rgba), 0.2);
}

.hover\:art-bg\:yellow\:30\% {
    background-color: rgba(var(--yellow-rgba), 0.3);
}

.hover\:art-bg\:yellow\:40\% {
    background-color: rgba(var(--yellow-rgba), 0.4);
}

.hover\:art-bg\:yellow\:50\% {
    background-color: rgba(var(--yellow-rgba), 0.5);
}

.hover\:art-bg\:green\:10\% {
    background-color: rgba(var(--green-rgba), 0.1);
}

.hover\:art-bg\:green\:20\% {
    background-color: rgba(var(--green-rgba), 0.2);
}

.hover\:art-bg\:green\:30\% {
    background-color: rgba(var(--green-rgba), 0.3);
}

.hover\:art-bg\:green\:40\% {
    background-color: rgba(var(--green-rgba), 0.4);
}

.hover\:art-bg\:green\:50\% {
    background-color: rgba(var(--green-rgba), 0.5);
}

.hover\:art-bg\:blue\:10\% {
    background-color: rgba(var(--blue-rgba), 0.1);
}

.hover\:art-bg\:blue\:20\% {
    background-color: rgba(var(--blue-rgba), 0.2);
}

.hover\:art-bg\:blue\:30\% {
    background-color: rgba(var(--blue-rgba), 0.3);
}

.hover\:art-bg\:blue\:40\% {
    background-color: rgba(var(--blue-rgba), 0.4);
}

.hover\:art-bg\:blue\:50\% {
    background-color: rgba(var(--blue-rgba), 0.5);
}

.hover\:art-bg\:red\:10\% {
    background-color: rgba(var(--red-rgba) 0.1);
}

.hover\:art-bg\:red\:20\% {
    background-color: rgba(var(--red-rgba) 0.2);
}

.hover\:art-bg\:red\:30\% {
    background-color: rgba(var(--red-rgba) 0.3);
}

.hover\:art-bg\:red\:40\% {
    background-color: rgba(var(--red-rgba) 0.4);
}

.hover\:art-bg\:red\:50\% {
    background-color: rgba(var(--red-rgba) 0.5);
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/art-css/src/modules/hovers/ft-hover.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
/* Fonts hover: */

.hover\:art-ft-color\:white-01:hover {
    /* hover:ft-color:white-01 */
    color: var(--white-01);
}

.hover\:art-ft-color\:white-02:hover {
    /* hover:ft-color:white-02 */
    color: var(--white-02);
}

.hover\:art-ft-color\:white-03:hover {
    /* hover:ft-color:white-02 */
    color: var(--white-03);
}

.hover\:art-ft-color\:black-01:hover {
    color: var(--black-01);
}

.hover\:art-ft-color\:black-02:hover {
    color: var(--black-02);
}

.hover\:art-ft-color\:black-03:hover {
    color: var(--black-03);
}

.hover\:art-ft-color\:yellow-01:hover {
    color: var(--yellow-01);
}

.hover\:art-ft-color\:yellow-02:hover {
    color: var(--yellow-02);
}

.hover\:art-ft-color\:yellow-03:hover {
    color: var(--yellow-03);
}

.hover\:art-ft-color\:green-01:hover {
    color: var(--green-01);
}

.hover\:art-ft-color\:green-02:hover {
    color: var(--green-02);
}

.hover\:art-ft-color\:green-03:hover {
    color: var(--green-03);
}

.hover\:art-ft-color\:blue-01:hover {
    color: var(--blue-01);
}

.hover\:art-ft-color\:blue-02:hover {
    color: var(--blue-02);
}

.hover\:art-ft-color\:blue-03:hover {
    color: var(--blue-03);
}

.hover\:art-ft-color\:red-01:hover {
    color: var(--red-01);
}

.hover\:art-ft-color\:red-02:hover {
    color: var(--red-02);
}

.hover\:art-ft-color\:red-03:hover {
    color: var(--red-03);
}


/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/art-css/src/modules/border/border.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
/* Borders */

/* .border\:radius-04 {
    border-radius: 0.9rem;
} */

.art-border-radius\:full\:radius-01 {
    /* art-border-radius:full:radius-01 */
    border-radius: 1rem;
}

.art-border-radius\:full\:radius-02 {
    /* art-border-radius:full:radius-02 */
    border-radius: 1.2rem;
}

.art-border-full\:solid-0\.5\:white-01 {
    /* border:solid-0.5:full:white-01 */
    border: solid 0.5px var(--white-01);
}

.art-border-full\:solid-0\.5\:white-02 {
    /* border:solid-0.5:full:white-02 */
    border: solid 0.5px var(--white-02);
}

.art-border-full\:solid-0\.5\:white-03 {
    /* border:solid-0.5:full:white-03 */
    border: solid 0.5px var(--white-03);
}

.art-border-full\:solid-0\.5\:black-01 {
    /* border:solid-0.5:full:black-01 */
    border: solid 0.5px var(--black-01);
}

.art-border-full\:solid-0\.5\:black-02 {
    /* border:solid-0.5:full:black-02 */
    border: solid 0.5px var(--black-02);
}

.art-border-full\:solid-0\.5\:black-03 {
    /* border:solid-0.5:full:black-03 */
    border: solid 0.5px var(--black-03);
}

/* 
border-style:solid:full
border-color:black-01
border-width:0.5
*/
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/art-css/src/modules/button/button.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
button {
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.art-btn\:small {

    cursor: pointer;
}

.art-btn\:medium {

    cursor: pointer;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/art-css/src/modules/art-modules.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/art-css/src/art-main.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
/*@import url('modules/art-modules.css');*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

    font-family: 'Open Sans', sans-serif;
}

:root {
    --white-01: #FFFFFF;
    --white-02: #F6F5F4;
    --white-03: #EBEBEB;
    --white-rgba: 255, 255, 255;

    --black-01: #000000;
    --black-02: #131416;
    --black-03: #4A4B4D;
    --black-rgba: 0, 0, 0;

    --yellow-01: #FFDE83;
    --yellow-02: #FFBD08;
    --yellow-03: #C08E06;
    --yellow-rgba: 255, 222, 131;

    --green-01: #8FF0A4;
    --green-02: #33D17A;
    --green-03: #26A269;
    --green-rgba: 38, 162, 105;

    --blue-01: #62A0EA;
    --blue-02: #376FE6;
    --blue-03: #1C71D8;
    --blue-rgba: 28, 113, 216;

    --red-01: #ED333B;
    --red-02: #F60000;
    --red-03: #DB1111;
    --red-rgba: 219, 17, 17;

    --txt-black-01: #000000;

}

@media (prefers-color-scheme: dark) {
    :root {
        --white-01: #000000;
        --white-02: #131416;
        --white-03: #4A4B4D;

        --black-01: #FFFFFF;
        --black-02: #F6F5F4;
        --black-03: #EBEBEB;

        --txt-black-01: #FFFFFF;
    }
}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/art-css/art.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/

/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/globals.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";

html {
    width: 100dvw;
    flex: 1 1;
    /* height: 100vh; */

    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    opacity: 0;
    animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

html::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;

    display: flex;
    /* gap: 20px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.art-bg\:blur-01 {
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.37);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Header/header.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.header_box__7ZXBX {
    width: 90%;
    max-width: 60rem;
    /*     
    height: 60%;
    min-height: 5rem; 
    */
    height: 5rem;
    margin-top: 20px;
}

.header_header__iAHWV {
    width: 90%;
    max-width: 60rem;
    height: 4rem;
    max-height: 4rem;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.header_content__a_3sy {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header_logo__q5OoG {
    width: 2.5rem;
    height: auto;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/TabMenu/tabMenu.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.tabMenu_icon___W7iU {
    width: 2rem;
    height: auto;
}
