/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ImageProfile/porfile.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.porfile_desktop__w8T57 {
    width: 100%;
    max-width: 18rem;
}

.porfile_mobile__55nd_ {
    display: none;
}

@media (max-width: 800px) {
    .porfile_desktop__w8T57 {
        display: none;
    }

    .porfile_mobile__55nd_ {
        display: flex;

        width: 100%;
        max-width: 8rem;
    }
}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/home/home.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.home_box__iR0Ny {
    width: 90%;
    max-width: 70rem;

    margin-top: 2rem;

    display: flex;
    /* gap: 3rem; */
    gap: 5rem;
    flex-direction: column;


}

.home_content__HGh3K {
    width: 100%;
    height: auto;
    /* height: 80dvh; */

    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 20px;

    /* align-items: center; */
    align-items: flex-start;
}

.home_contentProject__6lmRm {
    flex-direction: column;
}

.home_textArea__gfLnV {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}

.home_boxVerMais__ieabT {
    width: 99%;

    display: flex;
    justify-content: flex-end;
}

@media (max-width: 800px) {
    .home_box__iR0Ny {
        gap: 3rem
    }
    .home_content__HGh3K {
        flex-direction: column;
        align-items: center;
    }

    .home_textArea__gfLnV {
        display: flex;
        align-items: center;
    }

    .home_boxVerMais__ieabT {
        justify-content: center;
    }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/SocialMedia/social-media.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.social-media_box__q_G_c {
    width: 100%;
    /* max-width: 25rem; */
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    
    justify-content: flex-end;
    align-items: center;
}

.social-media_content__bY3fM {
    width: 1.4rem;
    height: 1.3rem;
    padding: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    text-decoration: none;
}

.social-media_github__i49PL {
    background: linear-gradient(180deg, #3A3A3A 0%, #000000 100%);
}

.social-media_linkedin__LA93w {
    background: linear-gradient(180deg, #278DF4 0%, #0A66C2 100%);
}

.social-media_email__de439 {
    background: linear-gradient(144.56deg, #FF9184 15.33%, #CD2215 87.06%);

}

.social-media_instagram__95rph {
    background: linear-gradient(137.23deg, #5527CF 3.6%, #D840A4 51.3%, #E4B26B 100%);
}

@media (max-width:800px) {
    .social-media_box__q_G_c {
        justify-content: center;
    }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/CardProject/card-project.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.card-project_box____ZDo {
    display: flex;
    gap: 1rem;
    
    justify-content: center;
   /*  justify-content: flex-start; */

    flex-direction: row;
    flex-wrap: wrap;
}

.card-project_card__t96ZC {
    width: 45%;
    height: 10rem;
    max-width: 100rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    
    justify-content: flex-start;
}

.card-project_textArea__CHWyr {
    overflow: hidden;
    align-content: safe;
}

@media (max-width: 800px) {

    .card-project_box____ZDo {
        justify-content: center;
    }

    .card-project_card__t96ZC {
        width: 80%;
    }
    
}
