.imgStyle {
    max-width: 20dvw;
    min-width: 12vw;
    height: auto;
  
    border-radius: 20px;
}

/* .imgStyle:hover {
    width: 380px;
    transition: 0.5 ease;
} */

@media (max-width: 700px) {
    .imgStyle {
        display: none;
        /* border: solid red; */
    }
}

@media (min-width: 1280px) {
    .imgStyle {
       /*  width: 400px; */
        /* border: solid blue; */
    }
}