.header {
    width: 70vw;
    max-height: 5%;
    position: fixed;
    margin: 20px;
    padding: 15px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bgBlur {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.31);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.068);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(129, 129, 129, 0.35);
}

.h1 {
    cursor: not-allowed;
}