.HeaderBox {
    /* border: red solid; */
    width: 100vw;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent {
    width: 70vw;
    max-height: 40px;
    position: fixed;
    margin: 20px;
    padding: 15px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h1 {
    cursor: not-allowed;
}

.contentDropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

@media (max-width: 700px) {
    .headerContent {
        width: 85vw;
    }
}